{
    "sourceType":"script",
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "node": "0.10.0"
        },
        "modules": false,
        "useBuiltIns": "entry"
      }]
    ],
    "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": "2",
            "helpers": true,
            "regenerator": true,
            "useESModules": true
          }
        ]
    ]
}